Repository palkan/logidze: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

mdl:
  tags: style
  run: mdl {staged_files}

liche:
  tags: links
  run: liche README.md CHANGELOG.md && test "{staged_files}"

forspell:
  tags: grammar
  run: forspell {staged_files}

rubocop:
  tags: style
  run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

Update README.md
  CHANGELOG.md
  README.md
Due: liche

Add hstore with jsonb fallback benchmark
  bench/triggers/Makefile
  bench/triggers/Readme.md
  bench/triggers/hstore_with_fallback_setup.sql
Due: mdl, liche, forspell, rubocop

Use fallback for hstore_to_jsonb_loose
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/integration/triggers_spec.rb
Due: none

Stringify fallback jsonb
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/integration/triggers_spec.rb
Due: none

Add ability to interrupt exceptions
  lib/generators/logidze/install/functions/logidze_capture_exception.sql
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/generators/install_generator_spec.rb
  spec/logidze/utils/function_definitions_spec.rb
Due: none

Skip log_data column during apply_column_diff
  CHANGELOG.md
  lib/logidze/model.rb
  spec/logidze/model_spec.rb
Due: liche

Always remove log_data from snapshots
  lib/generators/logidze/install/functions/logidze_logger.sql
  lib/generators/logidze/install/functions/logidze_snapshot.sql
  lib/generators/logidze/install/functions/logidze_version.sql
  spec/integration/triggers_spec.rb
Due: none

Increase function versions
  lib/generators/logidze/install/functions/logidze_snapshot.sql
  lib/generators/logidze/install/functions/logidze_version.sql
  spec/generators/install_generator_spec.rb
  spec/logidze/utils/function_definitions_spec.rb
Due: none

Bump 1.2.0
  CHANGELOG.md
  lib/logidze/version.rb
Due: liche

Update README.md
  README.md
Due: liche

Fixes pending_upgrade mistype in README
  README.md
Due: liche

docs: add releasing guide
  RELEASING.md
Due: liche

docs: add note about active_record.default_timezone
  README.md
Due: liche

fix(docs): typo
  README.md
Due: liche

fix(dev): lefthook globs
  .gitignore
  lefthook.yml
Due: none

Add ability to set responsible for the whole lifetime of the connection #202
  lib/logidze/meta.rb
  spec/integration/meta_spec.rb
Due: none

ci: add Ruby 3 and Rails 7 to build matrix
  .github/workflows/rspec.yml
  gemfiles/rails7.gemfile
Due: none

chore: drop custom docker setup
  .dockerdev/.bashrc
  .dockerdev/.irbrc
  .dockerdev/.pryrc
  .dockerdev/.psqlrc
  .dockerdev/docker-compose.yml
  README.md
  dip.yml
Due: liche

fix(docs): pass Hash to .with_meta
  README.md
Due: liche

fixing issue where destroy fails to delete file
  CHANGELOG.md
  lib/generators/logidze/model/model_generator.rb
  spec/generators/model_generator_spec.rb
Due: liche

update README
  README.md
Due: liche

undo unintended table of contents update
  README.md
Due: liche

Add support to table_name_prefix and table_name_suffix
  .github/workflows/rspec.yml
  lib/generators/logidze/model/model_generator.rb
  lib/generators/logidze/model/templates/migration.rb.erb
  lib/generators/logidze/model/triggers/logidze.sql
  lib/logidze/model.rb
  spec/dummy/app/models/not_logged_post.rb
  spec/dummy/config/application.rb
  spec/generators/model_generator_spec.rb
Due: none

Add entry to the CHANGELOG
  CHANGELOG.md
Due: liche

Apply the use of <<~ on all the SQL statements. Fix some rubocop offenses
  lib/generators/logidze/model/templates/migration.rb.erb
  spec/generators/model_generator_spec.rb
Due: none

Fix a minor offense
  lib/generators/logidze/model/model_generator.rb
Due: none

Path conditions:
  mdl: any of: **/*.md
  liche: any of: *.md
  forspell: any of: **/*.md
  rubocop: any of: **/*.md
