Repository palkan/logidze: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, liche, forspell, rubocop

lefthook.yml:

pre-commit:
  commands:
    mdl:
      tags: style
      glob: "**/*.md"
      run: mdl {staged_files}
    liche:
      tags: links
      glob: "*.md"
      run: liche README.md CHANGELOG.md && test "{staged_files}"
    forspell:
      tags: grammar
      glob: "**/*.md"
      run: forspell {staged_files}
    rubocop:
      tags: style
      glob: "**/*.md"
      run: BUNDLE_GEMFILE=gemfiles/rubocop.gemfile bundle exec rubocop {staged_files}

feat(gen): add --name option to model generator
  CHANGELOG.md
  README.md
  lefthook.yml
  lib/generators/logidze/model/model_generator.rb
  spec/generators/model_generator_spec.rb
Due: liche

Fixed typo
  spec/logidze/associations_spec.rb
Due: none

Bump 1.0.0
  CHANGELOG.md
  README.md
  lib/logidze/version.rb
Due: liche

Clarify 1.0 upgrade instructions for models
  README.md
Due: liche

Stringify snapshot jsonb values
  lib/generators/logidze/install/functions/logidze_snapshot.sql
  spec/logidze/create_snapshot_spec.rb
  spec/sql/snapshot_spec.rb
Due: none

Update changelog
  CHANGELOG.md
Due: liche

spell: ignore jsonb
  forspell.dict
Due: none

Bump logidze_snapshot version
  lib/generators/logidze/install/functions/logidze_snapshot.sql
  spec/generators/install_generator_spec.rb
Due: none

Upgrade RuboCop/Standard
  .rubocop-md.yml
  .rubocop.yml
  gemfiles/rubocop.gemfile
Due: none

chore: move version metadata to function definition
  dip.yml
  lib/generators/logidze/install/functions/logidze_compact_history.sql
  lib/generators/logidze/install/functions/logidze_filter_keys.sql
  lib/generators/logidze/install/functions/logidze_logger.sql
  lib/generators/logidze/install/functions/logidze_snapshot.sql
  lib/generators/logidze/install/functions/logidze_version.sql
  lib/generators/logidze/install/install_generator.rb
Due: none

Add upgrade checks
  README.md
  lib/generators/logidze/install/check_pending.rb
  lib/generators/logidze/install/function_definitions.rb
  lib/generators/logidze/install/install_generator.rb
  lib/logidze.rb
  lib/logidze/engine.rb
Due: liche

After review
  README.md
  lib/generators/logidze/install/check_pending.rb
  lib/logidze.rb
  lib/logidze/engine.rb
  lib/logidze/utils/check_pending.rb
Due: liche

Add tests
  lib/generators/logidze/install/install_generator.rb
  lib/logidze/utils/check_pending.rb
  lib/logidze/utils/function_definitions.rb
  lib/logidze/utils/pending_migration_error.rb
  spec/logidze/utils/check_pending_spec.rb
  spec/logidze/utils/function_definitions_spec.rb
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: liche

Mark upgrade checks experimental
  CHANGELOG.md
  README.md
Due: liche

Make warning message more visible
  lib/logidze/utils/check_pending.rb
  spec/logidze/utils/check_pending_spec.rb
Due: none

Set dynamic ActiveRecord version for migrations
  CHANGELOG.md
  lib/generators/logidze/install/templates/hstore.rb.erb
  lib/generators/logidze/install/templates/migration.rb.erb
  lib/generators/logidze/install/templates/migration_fx.rb.erb
  lib/generators/logidze/model/templates/migration.rb.erb
  spec/generators/install_generator_spec.rb
  spec/generators/model_generator_spec.rb
Due: liche

Add article and update table of contents
  README.md
Due: liche

Remove Rails meta-gem dependency
  CHANGELOG.md
  gemfiles/rails52.gemfile
  gemfiles/rails6.gemfile
  gemfiles/railsmaster.gemfile
  logidze.gemspec
Due: liche

Bump 1.1.0
  CHANGELOG.md
  lib/logidze/version.rb
Due: liche

Fix docs
  CHANGELOG.md
  README.md
  lib/logidze/history.rb
Due: liche

readme: add note on sci notation casting issue
  README.md
Due: liche

Use fallback for hstore_to_jsonb_loose
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/integration/triggers_spec.rb
Due: none

Add hstore with jsonb fallback benchmark
  bench/triggers/Makefile
  bench/triggers/Readme.md
  bench/triggers/hstore_with_fallback_setup.sql
Due: mdl, liche, forspell, rubocop

Stringify fallback jsonb
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/integration/triggers_spec.rb
Due: none

Add ability to interrupt exceptions
  lib/generators/logidze/install/functions/logidze_capture_exception.sql
  lib/generators/logidze/install/functions/logidze_logger.sql
  spec/generators/install_generator_spec.rb
  spec/logidze/utils/function_definitions_spec.rb
Due: none
